{% extends 'app/base_sinlogin.html' %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block contenido %}

<div id="wrap">
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
        <!--<button type="" onclick="logintwo()" class="btn btn-success">Iniciar sesión</button>-->

        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">
                <div style="display: flex; text-align: center; justify-content: center; flex-direction: column;">
                    <h2>¡Bienvenido a Flowey!</h2>
                    <div style="display: flex; text-align: center; justify-content: center; flex-direction: column; align-items: center;">
                        <img src="{% static 'app/img/loguito-removebg-preview.png' %}" alt="" style="width: 200px">
                    </div>
                    
                </div>
                
                <form action="" method="POST" style="flex-direction: column; text-align: center;" >
                    <div style=" display: flex; flex-direction: column;">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    
                    <div style="display:flex; flex-direction:row; align-items: center; justify-content:center; margin-top: 3%">
                        <div style="margin-right: 3%">
                            <button type="submit" class="btn btn-success" style="margin-top: 2%;">Iniciar sesión</button>
                        </div>
                        <div style="margin-top: 1px;">
                            <button type="reset" class="btn btn-danger" style="margin-top: 2%;">Cancelar</button>
                        </div>
                    </div>
                    
                </form>
                <div style="display:flex; flex-direction:column; text-align: center; margin-top: 5%;">
                    <p><a href="{% url 'password_reset' %}" style="color: #0A7834;">¿Olvidaste tu contraseña?</a></p>
                    <a href="{% url 'registro_usuarios' %}" style="color: #0A7834;">¿Todavía no tienes cuenta?</a>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
            
        </div>
        

    </div>

</div>
<div>
    <script>
        function logintwo() {
            Swal.fire({
                title: 'Iniciar sesión',
                html: `<div >
                            <form action="" method="POST" style="display: flex; flex-direction: column;" >
                                {% csrf_token %}
                                {{ form }}
                                <div style="display:flex; flex-direction:row; align-items: center; justify-content:center; margin-top: 3%">
                                    <div style="margin-right: 3%">
                                        <button type="submit" class="btn btn-success" style="margin-top: 2%;">Iniciar sesión</button>
                                    </div>
                                    <div style="margin-top: 1px;">
                                        <button type="reset" class="btn btn-danger" style="margin-top: 2%;">Cancelar</button>
                                    </div>
                                </div>
                                
                            </form>
                        </div>`,
                showCancelButton: false, 
                showConfirmButton: false,
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cerrar',
                footer: `<div style="display:flex; flex-direction:column;">
                            <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
                            <a href="`+window.location.origin+'/registro_usuarios'+`">¿Todavía no tienes cuenta?</a>
                        </div>`,
                
                focusConfirm: false, 
            })
        }
    </script>
</div>

{% endblock %}