

{%extends 'app/base.html' %}
{% load static %}

{% block title %} Seguimiento {% endblock title %}
{%block contenido%}
<!-- The Modal -->


<div class="modal" id="modalTres">
    <div class="modal-dialog">
    <div class="modal-content">

        {% if seg_encontrado %}
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Estado de la compra</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div style="text-align: center;">
                    <h5 class="fuente" style="font-family: 'Shadows Into Light', cursive !important;">Su compra se encuentra: {{ seguimientos.estado }}</h5> 
                    <h5 class="fuente" style="font-family: 'Shadows Into Light', cursive !important;">Fecha última actualización: {{ seguimientos.created_at }} </h5>
                </div>
                
                <div class="container" style="display: flex; justify-content:center;">
                    {% if seguimientos.estado == 'Validación' %}
                    <img src="{% static 'app/img/validacion.png'%}" style=" width: 100% !important" alt="">
                    {% elif seguimientos.estado == 'Preparación'%}
                        <img src="{% static 'app/img/preparacion.png'%}" style=" width: 100% !important" alt="">
                    {% elif seguimientos.estado == 'Reparto'%}
                        <img src="{% static 'app/img/reparto.png'%}" style=" width: 100% !important" alt="">
                    {% elif seguimientos.estado == 'Entregado'%}
                        <img src="{% static 'app/img/entregado.png'%}" style=" width: 100% !important" alt="">
                    {% endif %}
                </div>
                

                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer" >
                <a type="submit" class="btn btn-success" name="btnHistorial" id="btnHistorial" href="{%url 'historial'%}" style="font-family: inherit !important;">Ver Historial de Compras</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

            {% else %}
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Estado de la compra</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                <h6>Seguimiento no encontrado</h6>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <a type="submit" class="btn btn-success" name="btnHistorial" id="btnHistorial" href="{%url 'historial'%}" style="font-family: inherit !important;">Ver Historial de Compras</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>


        {% endif %}

    </div>
    </div>
</div>
<div>
    <div style="display: flex; align-items: center !important; justify-content: center !important;">
        <img src="{% static 'app/img/camion_entrega.png'%}" alt="" width="80">
    </div>
    
    <form method="GET">
        <div class="form-group">
            <div style="display: flex; align-items: center !important; justify-content: center !important;">
                <label for="txtSearch" style="text-align: center !important;"> Numero de Pedido:</label>
            </div>
            
            <input type="search" placeholder="Ej: 000001" class="form-control" id="search" name="search">

            <div class="container mb-5" style="text-align:center ;margin-top: 3%;">
                <button class="btn btn-success" type="submit" > Search </button>
                <input type="reset" id="btnLimpiar" name="btnLimpiar" class="btn btn-danger">
            </div>
            
            <div>

            </div>
        </div>
        
    </form>
</div>

{% if mostrar_seg %}
<script>      
    $('#modalTres').modal('show');
</script>
{% endif %}

{% endblock%}