

{% extends 'app/base.html' %}
{% load static %}
{% block title %} Suscripcion {% endblock title %}
{%block contenido%}
<div class="suscripcion mb-3 mt-3" style="text-align: center;">
    <h2>Suscripción</h2>
</div>

<div class="container mb-3 " style="text-align: left;">
    <div class="datos-suscripcion ">
        {% if suscrito_bool == False %}
        <div class="">
            
            <div class="form-row mt-1 ">
                <div class="col">
                    <label for="txtRut">Rut: </label>
                    <input id="txtRut" name="txtRut" type="text" class="form-control my-1"   placeholder="Ej: 11.111.111-1">
                </div>
                    
                <div class="col">
                    <label for="dateNac">Fecha nacimiento: </label>
                    <div class="col" style="padding-left: 1px; padding-right: 1px; ">
                        <input type="date" class="form-control my-1 " id="dateNac" name="dateNac" style="height: 38px;" >
                    </div>
                      
                </div>
                
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="txtNumeroFono"> Contacto: </label>
                        <div class="input-group">
                            <div class="input-cod-cel">
                            <span class="input-group-text my-1" id="inputCodCel">+56</span>
                            </div>
                            <input type="text" class="form-control my-1 col-sm-3" id="txtNumeroFono" placeholder="987654321" aria-describedby="inputGroupPrepend" required>
                        </div>
                    </div>
                    
                </div>
            </div>
            <hr>
            <div style="display: flex; flex-direction: column;">
                <h2 class="donacion" style="text-align: center;">Donación</h2>
                <form action=""> 
                    <div class="form-inline monto-donacion">
                        <div class="group-checks">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radioOne">
                                    <input type="radio" class="form-check-input" id="radioOne" name="optradio" value="option1"> $1000
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radioTwo">
                                    <input type="radio" class="form-check-input" id="radioTwo" name="optradio" value="option2"> $2500
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label for="radioThree" class="form-check-label">
                                    <input  type="radio" class="form-check-input" id="radioThree" name="optradio" value="option3"> $5000
                                </label>
                            </div>
                            
                            <div class="form-check-inline">
                                <label for="radioFour" class="form-check-label" style="margin-right: 3px !important;">
                                <input  type="radio" class="form-check-input" id="radioFour" name="optradio" value="option4" >Otro Monto  </label>
                                <label for="inputMonto"></label>
                                <input type="text" class="form-check-input form-control-sm" id="inputMonto" placeholder="Ingrese el Monto">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            
            <hr>
            <div style="display: flex; flex-direction: column;">
                <h2 class="tipo-pago" style="text-align: center;">Medio de Pago</h2>
                <form action="">
                    <div class="form-inline" >
                        <div class="group-checks">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radioFive">
                                    <input type="radio" class="form-check-input" id="radioOne" name="optradio" value="option1"> Credito
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radioSix">
                                    <input type="radio" class="form-check-input" id="radioTwo" name="optradio" value="option2"> Debito
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label for="radioSeven" class="form-check-label">
                                    <input  type="radio" class="form-check-input" id="radioThree" name="optradio" value="option3"> Prepago
                                </label>
                            </div>
                        </div>
                </form>
                
            </div>
                
            <hr>
            <div style="display:flex; flex-direction:row;">
                
                <form action="" method="POST" name="form">
                    {% csrf_token %}
                    <input type="hidden" name="user" id="user" value="{{ user.username }}">
                    <input type="hidden" name="suscrito" id="suscrito" value="True">
                       
                    <div class="container mb-3 mt-3" >
                        <button type="button" class="btn btn-success" name="btnGuardar" id="btnGuardar" onclick="confirmSuscripcion(form)"  style="font-family: inherit !important;">Pagar</button>
                    </div>
                </form>
        {% elif  suscrito_bool == True %}
            <div style="text-align: center;">
                <h1>Usted ya se encuentra suscrito a la página</h1>
            </div>
            <div style="display: flex; justify-content:center; align-items:center;">
                <form action="" method="POST" name="form2">
                    {% csrf_token %}
                    <input type="hidden" name="user" id="user" value="{{ user.username }}">
                    <input type="hidden" name="suscrito" id="suscrito" value="False">
                       
                    <div class="container mb-3 mt-3" >
                        <button type="button" class="btn btn-danger" name="btnEliminar" id="btnEliminar" onclick="confirmSuscripcion(form2)"  style="font-family: inherit !important;">Eliminar susripción</button>
                    </div>
                </form>
            </div>
                
        {% endif %}

            </div>
                

            <script>
                console.log('{{ suscrito_bool }}')
            </script>


                        
                    
                
               
                


            
            
        </div>
    </div>
    
</div>
{% endblock%}